<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../public/css/public.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  </div>
  <div class="character-wap" id="character-wap">
    <div class="character-content">
      <div class="character-name">
      </div>
      <div class="character-text">
      </div>
      <img class="yukkuri" src="../../public/character/yukkuri_reimu.svg" alt="">
    </div>
    <div class="character-bg"></div>
  </div>
  <script src="../../script/app.js"></script>
  <script src="./index.js"></script>
</body>

</html>